{# /*
 * Formulaire d'affichage pour la gestion des utilisateurs - Partie ADMIN
 * Cette vue affiche les champs du formulaire UserType.php. Le MDP est affiché sous forme
 * de 2 champs userForm.password.first et userForm.password.first
 *
 * Fichiers liés :
 * form/UserType.php => formulaire associé à un utilisateur
 * views/admin.html.twig => affichage des actions de gestion utilisateur
 * src/DAO/UserDAO.php => modif et supp d'1 utilisateur dans la classe UserDAO
 * src/DAO/CommentDAO.php => supp tous commentaires liés à 1 utilisateur
 * app/routes.php => contrôleurs pour ajout/modif/supp d'un utilisateur
*/ #}

{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if form_errors(userForm.password.first) %}
        <div class="alert alert-danger">
            {{ form_errors(userForm.password.first) }}
        </div>
    {% endif %}

    {#    div.well>(div.form-group>div.col-sm-4)*3|c#}
    <div class="well">
        {{ form_start(userForm, { 'attr': { 'class': 'form-horizontal' } }) }}
        <div class="form-group">
            {{ form_label(userForm.username, null, { 'label_attr': {
                'class': 'col-sm-5 control-label'
            } }) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.username) }}
                {{ form_widget(userForm.username, { 'attr': {
                    'class': 'form-control'
                } }) }}
            </div>
            <!-- /.col-sm-4 -->
        </div>
        <!-- /.form-group username -->

        <div class="form-group">
            {{ form_label(userForm.password.first, null, { 'label_attr': {
                'class': 'col-sm-5 control-label'
            } }) }}
            <div class="col-sm-4">
                {{ form_widget(userForm.password.first, { 'attr': {
                    'class': 'form-control'
                } }) }}
            </div>
            <!-- /.col-sm-4 -->
        </div>
        <!-- /.form-group password 1 -->

        <div class="form-group">
            {{ form_label(userForm.password.second, null, { 'label_attr': {
                'class': 'col-sm-5 control-label'
            } }) }}
            <div class="col-sm-4">
                {{ form_widget(userForm.password.second, { 'attr': {
                    'class': 'form-control'
                } }) }}
            </div>
            <!-- /.col-sm-4 -->
        </div>
        <!-- /.form-group password 2 -->

        {# div.form-group>div.col-sm-2^div.form-group>div.col-sm-offset-5.col-sm-3>input.btn.btn-primary[type="submit" value="Enregistrer"]|c #}
        <div class="form-group">
            {{ form_label(userForm.role, null, { 'label_attr': {
                'class': 'col-sm-5 control-label'
            } }) }}
            <div class="col-sm-2">
                {{ form_errors(userForm.role) }}
                {{ form_widget(userForm.role, { 'attr': {
                    'class': 'form-control'
                } }) }}
            </div>
            <!-- /.col-sm-2 -->
        </div>
        <!-- /.form-group role -->

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Enregistrer">
            </div>
            <!-- /.col-sm-offset-5 col-sm-3 -->
        </div>
        <!-- /.form-group submit -->
        {{ form_end(userForm) }}
    </div>
    <!-- /.well -->
{% endblock %}

